.image-tag {
  padding: 0.2rem 0.6rem;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
  display: flex;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  background-color: rgba(0, 76, 143, 0.3);
}
