@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  width: 100%;
  height: 4rem;
  padding: 0.6rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  background-color: #fff;
}

nav p {
  width: 7rem;
  margin: 0;
  margin-right: 1rem;
  font-weight: 700;
  color: rgb(0, 76, 143);
}

.nav-right {
  display: flex;
}

button {
  width: 6.5rem;
  padding: 0.5rem 1rem;
  margin: 0;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: rgb(0, 76, 143);
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

button#logout {
  margin-left: 1rem;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#profile-picture {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

#profile-picture:hover {
  cursor: pointer;
}

#profile-picture:active {
  transform: scale(0.95);
}

#username {
  margin-left: 0.4rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(0, 76, 143);
}

@media (max-width: 744px) {
  #username {
    display: none;
  }
}

@media (max-width: 586px) {
  #profile-picture {
    display: none;
  }

  button {
    width: 5rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
  }

  button#logout {
    margin-left: 0;
  }

  .search-bar-container {
    margin-left: 0;
    margin-right: 1rem;
  }
}

@media (max-width: 450px) {
  nav p, #search::placeholder {
    font-size: 0.8rem;
  }
}