.image-card {
  /* width: 400px;
  height: 400px; */
  /* This ensures the width and height are always the same, creating a square */
  aspect-ratio: 1 / 1;
  margin: auto;
  position: relative;
  border-radius: 20px;
}

.image-loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-loader svg {
  font-size: 3rem;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.image-tag-container {
  flex-wrap: wrap;
  width: 100%;
  padding: 1.1rem;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

/* @media (max-width: 450px) {
  .image-card {
    width: 16rem;
    height: 16rem;
    font-size: 0.8rem;
  }
} */
