.not-found-container {
  font-family: "DM-sans", sans-serif;
  margin-top: 12.5rem;
  text-align: center;
}

.not-found-container h1 {
  font-size: 4.5rem;
  color: #333;
}

.not-found-container h2 {
  font-size: 2.2rem;
  color: #666;
}

.not-found-container p {
  font-size: 1rem;
  color: #777;
  margin-bottom: 1.8rem;
}

.not-found-container a {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
}

.not-found-container a:hover {
  text-decoration: underline;
}
